.filterButton {
  display: inline-block;
  background-color: var(--FilterTabletsColor);
  color: var(--ThemePrimaryColor);
  border-radius: 4px;
  height: 24px;
  line-height: 24px;
  font-weight: var(--FontBoldWeight);
  font-size: var(--FontSizeS);
  padding: 4px 8px;
  cursor: pointer;
  margin: 8px 16px;
}

.filterButton:hover {
  background-color: var(--ThemePrimaryColor);
  color: var(--ThemeNeutralColor);
}

.filterButton.selected{
  cursor: initial;
  background-color: var(--ThemePrimaryColor);
  color: var(--ThemeNeutralColor);
}

@media screen and (max-width: 768px) {
  .filterButton {
    margin-left: 0;
  }
}