.filterButton {
  display: inline-block;
  background-color: rgba(92, 165, 165, 0.1);
  color: rgb(92, 165, 165);
  border-radius: 4px;
  height: 24px;
  line-height: 24px;
  font-weight: 700;
  font-size: 13px;
  padding: 4px 8px;
  cursor: pointer;
  margin: 28px 16px;
}

.filterButton:hover {
  background-color: rgb(92, 165, 165);
  color: #fff;
}

.filterButton.selected{
  cursor: initial;
  background-color: rgb(92, 165, 165);
  color: #fff;
}