.filterTag {
  display: inline-block;
  border-radius: 4px;
  margin: 8px 16px;
}

.filterTagLabel {
  display: inline-block;
  background-color: var(--FilterTabletColor);
  color: var(--ThemePrimaryColor);
  line-height: 24px;
  font-weight: var(--FontBoldWeight);
  font-size: var(--FontSizeS);
  padding: 4px 8px;
  vertical-align: top;
  border-radius: 4px 0 0 4px;
}

.filterTagRemoveButton {
  display: inline-block;
  background-color: var(--ThemePrimaryColor);
  cursor: pointer;
  color: var(--ThemeNeutralColor);
  padding: 2px 9px 6px;
  vertical-align: top;
  border-radius: 0 4px 4px 0;
}

.filterTagRemoveButton img {
  margin: 6px 0 0;
}

.filterTagRemoveButton:hover {
  background-color: var(--FilterTabletsDarkColor);
}
