.jobAdContainer {
  display: flex;
  background-color: var(--ThemeNeutralColor);
  border-top-left-radius: 100 0;
  border-bottom-left-radius: 0 100;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 5px;
  border-radius: 5px;
  min-height: 88px;
  margin-bottom: 24px;
  padding: 32px 0;
  box-shadow: 0 15px 20px -5px hsla(189, 82%, 28%, 0.15);
}

.jobAdContainer.featured {
  border-left-color: var(--ThemePrimaryColor);
}

.jobDescription {
  flex: 50%;
  vertical-align: top;
}

.jobFilterTags {
  flex: 45%;
  flex-wrap: wrap;
  padding: 20px 0;
}

@media screen and (max-width: 768px) {
  .jobAdContainer {
    margin-bottom: 124px;
    flex-direction: column;
    padding: 32px 40px;
  }
  .jobDescription {
    flex: 1 1;
    border-bottom: solid 1px hsl(180, 10%, 74%);
  }
  .jobFilterTags {
    flex: 1 1;
  }
}