@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

.App-header {
  background-color: #5CA5A5;
  background-image: url('/images/bg-header-desktop.svg');
  background-size: cover;
  height: 156px;
  width: 100%;
}
.App-body {
  max-width: 1110px;
  margin: -36px auto 0;
  height: 100%;
}
.App {
  background-color: #EFFAFA;
  height: 100vh;
  font-size: 15px;
  font-family: Spartan;
}
