.App-header {
  background-color: var(--ThemePrimaryColor);
  background-image: url('/images/bg-header-desktop.svg');
  background-size: cover;
  height: 156px;
  width: 100%;
}
.App-body {
  max-width: 1110px;
  margin: -36px auto 0;
  height: 100%;
}
.App {
  background-color: var(--BackgroundColor);
  height: 100%;
  font-size: var(--FontSizeM);
  font-family: var(--FontFamily);
}
